__pycache__/
*.py[cod]
*$py.class
*.bak.*

.idea
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
log/
other/
parts/
sdist/
var/
.other/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.tox/
.coverage
.coverage.*
.cache
docs/_build/
venv/
MANIFEST