[Unit]
Description=Gate between MQTT and MegaD devices

[Service]
ExecStart=/usr/bin/env megad-mqtt-gw --config /etc/megad-mqtt-gw.homeassistant.conf

[Install]
WantedBy=multi-user.target
